
.main-card {
    border-radius: 20px;
    overflow: hidden;
}

h4 {
    font-family: cursive;
}

span {
    font-style: italic;
}

.hero-container img {
    width: 150px;
}

.card {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

li {
    list-style: none;
    cursor: pointer;
    margin: 10px 0;
}

li:hover {
    color: darkgreen;
    font-weight: bold;
}

ol {
    padding: 0;
}

.btn:focus {
    outline: none;
    box-shadow:none;
}

.next, .next1, .again {
    padding:  10px 40px;
    margin-right: -12px;
    margin-bottom: -10px;
    border-radius: 7px 0 20px 0;
    border-color: #1a1e21;
    box-shadow: -2px -2px 0 0.07rem rgb(66 70 73 / 50%);
}
.next:focus, .next:focus, .again:focus{
    border-color: #1a1e21;
    box-shadow: -2px -2px 0 0.07rem rgb(66 70 73 / 50%);
}

.again {
    margin-left: -12px;
    border-radius: 0 7px 0 20px;
    box-shadow: 2px -2px 0 0.07rem rgb(66 70 73 / 50%);
}
.again:focus {
    box-shadow: 2px -2px 0 0.07rem rgb(66 70 73 / 50%);
}

.options div {
    border-radius: 0;
}

// Result Page
.header h4 {
    margin-bottom: 40px;
}

.header img {
    width: 200px;
}
.header p:first-child {
    font-size: 30px;
}

.header p:last-child {
    font-size: 25px;
}

.neumorphism {
	margin: 50px;
    padding: 1rem;
    text-align: center;
	// height: 200px;
	// width: 450px;
	background: #fff;
	border-radius: 5px;
	box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.692), inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

// Media Query for Smartphones
@media only screen and (max-width: 600px){
    .neumorphism {
        margin: 50px 0;
    }

    .points-container {
        margin: 0 auto;
        flex-direction: column;
    }

    .question-count {
        margin: 10px auto;
    }

    .timer {
        margin-top: 10px;
    }

    .buttons {
        flex-direction: column;
    }

    .again {
        margin-bottom: 20px;
        background-color: transparent;
        color: black;
        margin-left: 0;
        box-shadow: none;
        border: none;
    }

    .next1 {
        border-radius: 7px 7px 20px 20px;
        box-shadow: 0 -2px 0 0.07rem rgb(66 70 73 / 50%);
        margin-left: -12px;
    }

    
}