<div class="container py-4 ">
    <div class="hero-container">
        <img class="hero-img" src="assets/undraw_quiz_nlyh.svg" alt="Hero-img">
    </div>
    <h1 class="dispay-5 ">Welcome to Quiz Arena!</h1>
    <p class="col-md-8 fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad blanditiis facere nostrum officiis ipsam.</p>
    <h4>Quiz Rules:</h4>
    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus.</li>
    </ol>
    <h3 class="wish">All the best! Goodluck.</h3>
    <div class="name col-md-4 my-3">
        <label for="name">Enter Your Name:</label>
        <input type="text" class="form-control" id="name">
    </div>
    <button class="btn btn-lg btn-dark rounded" routerLink="/questions">Start Quiz</button>
</div>