<div class="container py-4 ">
    <div class="hero-container">
        <img class="img-fluid" src="assets/hero.jpg" alt="Hero-img">
    </div>
    <h1 class="dispay-5 ">Welcome to the Quiz Arena!</h1>
    <p class="col-md-8 fs-5">This is a fun quiz app to test your general skills. Begin this quiz only when you are prepared to complete it. You may refer to your friend or google for assistance.</p>
    <h4>Quiz Rules:</h4>
    <ol class="col-md-6">
        <li>The quiz Consists of 10 questions.</li>
        <li>You have one minute to answer each question. Once the time is up the question is considered incorrect.</li>
        <li>Each correct answer gives you 10 points.</li>
        <li>You get 0 point for each incorrect answer.</li>
        <li>To pass the quiz, you need to score a minimum of 60 points.</li>
    </ol>
    <h3 class="wish">All the best! Goodluck.</h3>
    <form [formGroup]="form">
    <div class="name col-md-4 my-3">
        <label for="name">Enter Your Name:</label>
        <input #name type="text" class="form-control" id="name" formControlName="user">
        <span class="text-danger" *ngIf="user && user.invalid && user.touched">Name field can only contain alphabet and cannot be empty!</span>
    </div>
    <button class="btn btn-lg btn-dark rounded" [disabled]="form.invalid" routerLink="/questions" (click)="startQuiz()">Start Quiz</button>
</form>
</div>